
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.full-width-img {
    width: 100%;
    height: auto;
}
.product {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.product img {
    width: 40%; /* Imagen ocupa el 40% */
    height: auto;
    margin-right: 20px;
}
.description {
    width: 60%; /* Descripción ocupa el 60% */
}
.product1 {
    background-color: #F3FA82;
}

.product2 {
    background-color: #050505;
    color: #F3FA82;
}

#titulo-producto2 {
    color: yellow; /* Cambia esto por el color que desees (rojo en este caso) */
}

.price {
    font-weight: bold;
    color: #008000;
}