
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
}

.full-width-img {
    width: 100%;
    height: auto;
}
.product {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.product img {
    width: 40%; /* Imagen ocupa el 40% */
    height: auto;
    margin-right: 20px;
}
.description {
    width: 60%; /* Descripción ocupa el 60% */
}
.product1 {
    background-color: #F3FA82;
}

.product2 {
    background-color: #050505;
    color: #F3FA82;
}

#titulo-producto2 {
    color: yellow; /* Cambia esto por el color que desees (rojo en este caso) */
}

#product2 {
    background-color: yellow;
    color: #050505;
}

.price {
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    text-align: center;
    color: yellow;
}

.content-button {
    display: flex;
    justify-content: center;
}

.product-button {
    padding: 12px 22px;
    background-color: rgb(0, 0, 0); /* Azul */
    color: yellow; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
.product-button:hover {
    background-color: #065980; 
}

@media (max-width: 768px) {
    .product {
        flex-direction: column; /* Cambia a diseño vertical */
        text-align: center;
    }

    .product img {
        width: 100%; /* Imagen ocupa todo el ancho */
        margin: 0 0 20px 0; /* Espaciado inferior */
    }

    .description {
        width: 100%; /* Descripción ocupa todo el ancho */
    }

    .price {
        font-size: 25px; /* Ajusta el tamaño de la fuente */
    }

    .product-button {
        font-size: 20px; /* Botón más pequeño */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 28px; /* Reduce tamaño del título */
    }

    .price {
        font-size: 20px;
    }

    .product-button {
        padding: 10px 15px;
        font-size: 18px; /* Botón más pequeño */
    }
}